a, blockquote>p, body, .button, h2, h3 {
    color: #d7c7ff;
}

h2 {
    border-right: 3px solid #d7c7ff;
}

p {
    color: #ededed;
}

blockquote {
    border-left: 1px solid #d7c7ff;
}

body {
    background: #333332;
}

.button {
    background: #2a2a2a;
    border-bottom: 3px solid #d7c7ff;
    border-left: 1px solid #d7c7ff;
    border-right: 3px solid #d7c7ff;
    border-top: 1px solid #d7c7ff;
}

.sidebar {
    border-right: 1px solid #d7c7ff;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        border: none;
    }
}
